In [118]:
from CONSTANTES import PERSONAS
from CONSTANTES import ATRACCIONES
PERSONAS

[(27572, 45, 'Amber Gutierrez', '2005-10-16'),
 (65694, 228, 'Michael Dunn', '2005-03-11'),
 (82045, 169, 'Rachel Freeman', '2009-09-23'),
 (51794, 121, 'Meghan Escobar', '2012-09-22'),
 (53954, 74, 'Sandra Faulkner', '2011-08-11'),
 (30091, 101, 'Dana Salazar', '2017-11-16'),
 (40237, 84, 'Miss Dominique Gray DVM', '2012-06-05'),
 (72761, 286, 'Nicholas Smith', '2007-05-26'),
 (24525, 101, 'Tonya Crane', '2000-07-14'),
 (93834, 177, 'Richard Martinez', '2004-01-10'),
 (34568, 17, 'Deborah Walker', '2010-07-29'),
 (81548, 92, 'Jean Ellis', '2014-12-19'),
 (12751, 218, 'Christopher Ortiz', '2001-12-23'),
 (53625, 65, 'Jennifer Rodriguez', '2005-03-07'),
 (72798, 270, 'Gilbert Johnson', '2016-05-24'),
 (5296, 245, 'Molly Morrison', '2009-03-25'),
 (65314, 290, 'Karen Guzman', '2014-09-03'),
 (16427, 279, 'Reginald Hancock', '2004-09-20'),
 (98332, 282, 'Emily Diaz', '2002-11-23'),
 (83806, 136, 'Sheila Rose', '2010-10-04'),
 (81559, 161, 'Megan Powell', '2004-06-11'),
 (50276, 72, 'Natasha Nguyen', '2014-07-31'),
 (77565, 220, 'Christina Mendoza', '2006-09-03'),
 (92794, 241, 'Crystal Castillo', '2014-07-12'),
 (84919, 111, 'Sheila Garcia', '2003-02-26'),
 (42891, 141, 'Shannon Foster', '2012-06-01'),
 (2672, 68, 'Theresa Mosley', '2013-06-05'),
 (6170, 280, 'Stephanie Perkins DDS', '2015-07-30'),
 (9645, 237, 'Troy Davis', '2012-10-23'),
 (11681, 221, 'Richard Evans', '2005-05-08'),
 (36960, 216, 'Abigail Jones', '2007-10-05'),
 (63668, 298, 'Eric Ramirez', '2006-01-19'),
 (21377, 64, 'Kelly Cardenas', '2008-01-04'),
 (62666, 47, 'Alicia Cobb', '2009-11-22'),
 (47698, 70, 'Dr. Brenda Andrews', '2002-04-18'),
 (38616, 59, 'Michael Freeman', '2002-08-15'),
 (22889, 92, 'Mark Robinson', '2018-02-13'),
 (65952, 204, 'Ryan Mccarthy', '2003-12-12'),
 (43849, 210, 'Ruben Avila', '2000-02-12'),
 (99451, 275, 'Paul Gonzalez MD', '2017-11-23'),
 (44011, 214, 'Kevin Burton', '2001-11-14'),
 (80191, 257, 'Richard Little', '2014-01-05'),
 (41534, 292, 'Erin Hill', '2013-01-28'),
 (26026, 61, 'Monica Guzman', '2003-12-08'),
 (94349, 265, 'Kathryn Riley', '2008-02-09'),
 (27321, 292, 'Alex Watts', '2001-07-19'),
 (62280, 232, 'Mark Holloway', '2015-07-23'),
 (67785, 248, 'Joshua Lambert', '2002-06-25'),
 (6815, 166, 'William Wood', '2010-03-07'),
 (73752, 86, 'Steven Aguirre', '2012-03-21'),
 (37093, 253, 'Gabrielle Johnson', '2014-08-06'),
 (88680, 216, 'Andrew Thomas', '2001-12-19'),
 (7840, 283, 'Patrick Collins', '2009-04-01'),
 (45961, 147, 'Margaret Jones', '2014-07-27'),
 (99352, 296, 'Walter Johnson', '2000-07-20'),
 (97684, 147, 'Joseph Collins', '2015-10-09'),
 (34683, 165, 'Wanda Wilson', '2007-09-07'),
 (63739, 152, 'Erik White Jr.', '2013-03-30'),
 (91899, 60, 'Mariah Kim', '2000-07-23'),
 (19577, 204, 'Craig Duke', '2015-07-25'),
 (39529, 54, 'Todd Johnson', '2015-06-14'),
 (63886, 161, 'Robert Everett', '2009-07-24'),
 (18099, 252, 'Nicholas Jones', '2000-10-04'),
 (32755, 151, 'Lisa Rodriguez', '2001-06-24'),
 (30399, 148, 'Kenneth Hicks', '2005-05-21'),
 (77709, 77, 'Dana Knox', '2011-09-08'),
 (37913, 163, 'Alan Carter', '2011-07-11'),
 (7444, 165, 'Patricia Larson', '2003-03-19'),
 (34644, 37, 'Michael Gonzalez', '2004-05-11'),
 (8681, 205, 'Melissa Charles', '2004-01-29'),
 (44008, 239, 'Michelle Morgan', '2015-11-01'),
 (76456, 131, 'Valerie Brown', '2018-03-17'),
 (10015, 39, 'Adam Gonzales', '2015-07-22'),
 (46122, 276, 'Andrew Phillips', '2007-10-23'),
 (50893, 174, 'Diana Allen', '2005-09-15'),
 (28536, 221, 'Angela Buchanan', '2004-01-30'),
 (81158, 149, 'Michelle Acosta', '2008-08-08'),
 (97952, 63, 'Jason Mitchell', '2014-06-08'),
 (83589, 232, 'Wesley Anderson', '2007-09-15'),
 (11222, 192, 'Alyssa Smith', '2011-11-30'),
 (97859, 25, 'Lindsay Hayes', '2010-05-19'),
 (68198, 91, 'Daniel Garner', '2015-08-21'),
 (26109, 217, 'Michael Torres', '2005-05-18'),
 (67191, 53, 'Jordan Davis', '2002-02-06'),
 (98884, 41, 'Rhonda Estes', '2009-03-08'),
 (89091, 1, 'Tommy Hanna', '2008-04-17'),
 (71908, 21, 'Ivan Jenkins', '2017-03-29'),
 (14197, 5, 'William Vang', '2004-12-27'),
 (29845, 80, 'Timothy Davis', '2012-12-05'),
 (23603, 59, 'Joseph Thomas', '2008-11-17'),
 (45412, 117, 'Kristen Martinez', '2004-06-05'),
 (84675, 109, 'Scott Hernandez', '2017-06-09'),
 (55313, 237, 'Charles Marshall', '2017-10-21'),
 (75818, 68, 'Holly Charles', '2005-09-09'),
 (44601, 182, 'Kristin Francis', '2003-01-25'),
 (85082, 73, 'Kathryn Anderson', '2000-11-11'),
 (81619, 291, 'Sylvia Anderson', '2012-05-18'),
 (28317, 115, 'Donald Price', '2015-02-07'),
 (19493, 282, 'Tyler Rivas', '2003-03-21'),
 (34504, 92, 'Carla Brown', '2007-06-22)')]

In [86]:


d = {}
for ingreso, hora, nombre, año in PERSONAS:
    if nombre not in d:
        d[nombre] = [(ingreso, hora, año)]

In [127]:
from datetime import date
def calcular_edad(fecha_nac): #https://www.youtube.com/watch?v=SzZnsU2QvNQ
    s = fecha_nac.split("-")
    tupla = ()
    año = s[0]
    mes = s[1]
    dia = s[2]
    fecha_nac_2 = date(int(año), int(mes), int(dia))
    diferencia_fechas = date.today() - fecha_nac_2
    diferencia_fechas_dias = diferencia_fechas.days
    edad_numerica = diferencia_fechas_dias / 365.2425
    edad = int(edad_numerica)
    return edad

2

In [88]:
#import random
#b=[]
#for i in d.keys():
    #b.append(i)
#print(b)
#a = random.choice(b)
#print(a)
#del d[a]
#del diccionario[<llave>]

In [89]:
from CONSTANTES import ATRACCIONES
print(ATRACCIONES)

{'Booster': [1, 500, 290000, 1], 'Rata Vacilona': [4, 1250, 250000, 4], 'Extreme': [28, 750, 260000, 3], 'Rana Loca': [6, 1700, 310000, 5], 'Top Gun': [26, 800, 390000, 5], 'MaxiDance': [17, 1750, 270000, 2], 'Boomerang': [11, 1050, 320000, 5], 'The Limit': [23, 1950, 360000, 5], 'Aladelta': [10, 1150, 330000, 2], 'Noria': [16, 900, 370000, 4], 'Barco Vikingo': [29, 1500, 350000, 4], 'Cataratas': [5, 1200, 200000, 2], 'Martillo': [19, 1550, 240000, 3], 'Jet Star': [24, 350, 230000, 1]}

In [128]:

## atracciones: [capacidad, costo entrada, costo atraccion, minutos por vuelta]
##[dinero, minuto de llegada, nombre, fecha nacimiento] 
    
    
##hacemos una lista de las 4 atracciones más baratas
lista_ordenada_precio_atracciones =[]
for i in ATRACCIONES.items():
    lista_ordenada_precio_atracciones.append(i)

lista_ordenada_precio_atracciones.sort()
lista_ordenada_precio_atracciones.sort(key=lambda x: x[1][2])

lista_cuatro_baratas = lista_ordenada_precio_atracciones[0:4]
lista_sin_cuatro_baratas = lista_ordenada_precio_atracciones[4:]
print(lista_sin_cuatro_baratas)

##para pasar a diccionario:
dic = {}
for atraccion, lista in lista_sin_cuatro:
    if atraccion not in d:
        dic[atraccion] = [lista]
print(dic)


class Personas:
    def __init__ (self):
        pass

class Dueño(Personas):
    def __init__(self, lista_cuatro_baratas, hc = 100000):
        self.lista_cuatro_baratas = lista_cuatro_baratas
        self.hc = hc

class Visitantes(Personas):
    def __init__(self, dinero, minuto_de_llegada, nombre, fecha_nacimiento):
        self.dinero = dinero
        self.minuto_de_llegada = self.minuto_de_llegada
        self.nombre = nombre
        self.fecha_nacimiento = fecha_nacimiento
    
    def calcular_edad(self, fecha_nac): #https://www.youtube.com/watch?v=SzZnsU2QvNQ
        s = fecha_nac.split("-")
        tupla = ()
        año = s[0]
        mes = s[1]
        dia = s[2]
        fecha_nac_2 = date(int(año), int(mes), int(dia))
        diferencia_fechas = date.today() - fecha_nac_2
        diferencia_fechas_dias = diferencia_fechas.days
        edad_numerica = diferencia_fechas_dias / 365.2425
        edad = int(edad_numerica)
        return edad

[('Extreme', [28, 750, 260000, 3]), ('MaxiDance', [17, 1750, 270000, 2]), ('Booster', [1, 500, 290000, 1]), ('Rana Loca', [6, 1700, 310000, 5]), ('Boomerang', [11, 1050, 320000, 5]), ('Aladelta', [10, 1150, 330000, 2]), ('Barco Vikingo', [29, 1500, 350000, 4]), ('The Limit', [23, 1950, 360000, 5]), ('Noria', [16, 900, 370000, 4]), ('Top Gun', [26, 800, 390000, 5])]
{'Extreme': [[28, 750, 260000, 3]], 'MaxiDance': [[17, 1750, 270000, 2]], 'Booster': [[1, 500, 290000, 1]], 'Rana Loca': [[6, 1700, 310000, 5]], 'Boomerang': [[11, 1050, 320000, 5]], 'Aladelta': [[10, 1150, 330000, 2]], 'Barco Vikingo': [[29, 1500, 350000, 4]], 'The Limit': [[23, 1950, 360000, 5]], 'Noria': [[16, 900, 370000, 4]], 'Top Gun': [[26, 800, 390000, 5]]}